<!-- app.component.html -->

<div class="container">
  <h1>
   
  </h1>
  <div class = "row">

  <div class="col">
  <form [formGroup]="angForm" novalidate (submit)="submit()">
        <div class="form-group">
            <label>Name:</label>
            <input class="form-control" formControlName="name" type="text">
        </div>
        <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['name'].errors.required">
              Name is required.
            </div>
        </div>
      
      <div class="form-group">
        <label>dob</label>
        <input class="form-control" formControlName="dob" type="text">
      </div>
      <div *ngIf="angForm.controls['dob'].invalid && (angForm.controls['dob'].dirty || angForm.controls['dob'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['dob'].errors.required">
          DOB is required.
</div></div>
         <div class="form-group">
            <label>Email:</label>
            <input class="form-control" formControlName="email" type="email">
        </div>
        <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['email'].errors.required">
            Email is required.
          </div>
          <div *ngIf="angForm.controls['email'].errors.email">
            Invalid email 
          </div>
      </div>
      <div class="form-group">
        <label>Country:</label>
      <select formControlName="country" class="form-control">
        <option value="IN">India</option>
        <option value="USA">USA</option>
        <option value="UK">UK</option>
      </select>
    </div>
    <div class="form-group">
      <label>Gender:</label>
      <input class="form-control" formControlName="gender" type='radio' name='gender' value="M"> Male
      <input class="form-control" formControlName="gender" type='radio' name='gender' value="F"> Female
  </div>
  <div class="form-group">
    <label>Gender:</label>
    <input class="form-control" formControlName="marital" type='radio' name='marital' value="U"> Unmarried
    <input class="form-control" formControlName="marital" type='radio' name='marital' value="M"> Married
</div>
<div class="form-group">
  <label>favfood:</label>
  <input class="form-control" formControlName="gender" type='checkbox' name='ff' value="Indian"> Indian
  <input class="form-control" formControlName="gender" type='checkbox' name='ff' value="Chinese"> Chinese
</div>
    <div class="form-group">
      <label>Street:</label>
      <input class="form-control" formControlName="address1" type="text">
  </div>

  <div class="form-group">
    <label>door no:</label>
    <input class="form-control" formControlName="address2" type="text">
</div>
<div *ngIf="angForm.controls['address2'].invalid && (angForm.controls['address2'].dirty || angForm.controls['address2'].touched)" class="alert alert-danger">
  <div *ngIf="angForm.controls['address2'].value<0">
    door is invalid
  </div>
  </div>
<div class="form-group">
  <label>pin:</label>
  <input class="form-control" formControlName="address3" type="text">
</div>
<div *ngIf="angForm.controls['address3'].invalid && (angForm.controls['address3'].dirty || angForm.controls['address3'].touched)" class="alert alert-danger">
 
  <div *ngIf="angForm.controls['address3'].value<=0">
    pin no is invalid.
  </div>
  </div>
        <button type="submit"  
            [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success">
            Save
        </button>
  </form>
  <br />
  </div>
  <div class="col">
   <table>
     <thead>
       <tr>
         <td>
           Name
         </td>
         <td>
          Gender
        </td>
        <td>
          Email
        </td>
        <td>
          DOB
        </td>
        <td>
          Country
        </td>
        <td>
          Marital Status
        </td>
       
         <td>
           Fav Food
         </td>
         <td>
         street no
       </td>
       <td>
        door no
    </td>
    <td>
      Pincode
  </td>
  
 

       </tr>
     </thead>
     <tr *ngFor="let user of users">
       <td>
         {{user.name}}
       </td>
       <td>
         {{user.gender}}
       </td>
       <td>
         {{user.email}}
       </td>
       <td>
        {{user.dob}}
      </td>
      <td>
        {{user.country}}
      </td>
       <td>
         {{user.marital}}
       </td>
       <td>
         {{user.favfood}}
       </td>
       <td>
        {{user.address1}}
       </td>
       <td>
        {{user.address1}}
       </td>
       <td>
        {{user.address1}}
       </td>
       
     </tr>
   </table>
  </div>
</div>


